
#ryt{
    text-align: center;
}
#back{
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 3px 0 rgba(230, 36, 36, 0.884);
    background: grey;
    width: 800px;
    height:300px;;
    margin: 20px auto;
}   
#login{
    padding-top: 11%;
    border-radius: 40px;
    text-align: center;
    float: left;
    box-shadow: 0 0 3px 0 white;
    background: rgb(240, 148, 11);
    width: 400px;
    height:400px;;
    margin: 20px auto;
}
body{
    background-color: teal;
    padding: 10%;
}
input{
    padding:8px;
    font-size: inherit;
}
input[type="text"],[type="password"]{
    display: inline-block;
    margin: 5px 0 22px 0;
    margin:2px;
    width:40%;
    border: 1px solid black;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: rgb(15, 230, 238);
    outline: none;
  }
  
input[type=submit],button{
    border-radius: 5px;;
    width: 150px;
    background-color: darkgreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    opacity: 0.9;
}
